/* info card */
.card1{
    margin-left:7%; 
    width:40rem;
    margin-top:4%;
    border-radius: 5%;
}

.headings{
    margin-top: 15%; margin-left:14%;
}

/* achievement cards */

/* left-side card */
.card-left{
    margin-left:7%; 
    width:50rem;
    margin-top:4%;
    border-radius: 5%;
}

/* right-side card */
.card-right{
    width:50rem;
    margin-top:4%;
    border-radius: 5%;
    margin-left:60%;
}

/* feedback-card */
.feedback-card{
    margin-left:5%;
    border-radius:5%;  
    background: #F8FAFC 0% 0% no-repeat padding-box; 
}

/* sponsor logo */
.spons
{
    margin: 3% 5%;
    align-items: center;
    justify-content: space-between;
}

/* Footer CSS */
.footercs{
    padding-top: 25%;
    padding-bottom: 1%;
    margin-top: 5%;
}

/* feedback card first */
.fb-card{
    width:90rem; 
    height: 30rem;
    border-radius: 42px;
}
.fbc1
{
  position: relative;
  width: 25%;
  height: 10%;
  border-radius: 30px;
  margin-left:5%;
  box-shadow: 0px 16px 48px #00000029;
  transform: translateY(-70%);
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.post{
    font-family: Nunito Sans;
    font-weight:bolder;
}